<DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Calculadora</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./bootstrap5.2.min.css">
    </head>
    <body>

    <br>
    <h1>Calculadora</h1>
    
    <br>
    <br>

    
    <input type="number" id="operando1"  placeholder="Digite um número">
    <input type="number" id="operando2"  placeholder="Digite um número">

    <button type="button" id="btn-calc" class="btn btn-primary"> = </button>

    <input type="text" id="result"  placeholder="Resultado">

    <br><br>

    <h4>Escolha uma das operações:</h4>

    <input type="radio" id="adicao" class="form-check-input" name="operador" value="+">
    <label for="adicao">+</label>

    <input type="radio" id="subtracao" class="form-check-input" name="operador" value="-">
    <label for="subtracao">-</label>

    <input type="radio" id="multiplicacao" class="form-check-input" name="operador" value="x">
    <label>x</label>

    <input type="radio" id="divisao" name="operador" value="/">
    <label>/</label>

    <script type="text/javascript" src="jquery-3.6.3.min.js"> </script>
    <!-- <script type="text/javascript" language = "javascript" src=".js"></script> -->

    </body>
</html>